<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download file</title>
    <link rel="shortcut icon" href="/imgs/icon.png" type="image/x-icon" />
  </head>
  <link rel="stylesheet" href="/styles/download.css" />
  <body>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <form
      class="form-container"
      enctype="multipart/form-data"
      method="get"
      action="/download/file"
    >
    <% if(error){%>
      <span class="cannot-upload-message">
        <span class="material-icons-outlined">error</span> Fayl tanlanmagan
      </span>
      <% }%>
      <% if(!error && file_code){%>
      <span class="success-message"> 
        <span class="material-icons-outlined">done</span>
        faylni yuklash uchun kod: <%=file_code %>
      </span>
      <%}%>
      <div class="upload-files-container">
        <h1>Fayl yuklab olish</h1>
        <label for="key"> Faylni yuklab olish uchun kodni kiriting </label>
        <input type="text" placeholder="Enter key" name="key" class="inputForKey" maxlength="20" minlength="4"/>
        <button type="submit" class="upload-button">Download</button>
        <a href="/upload">Fayl yuklash uchun (upload)</a>
      </div>
    </form>
    <script src="/scripts/download.js"></script>
  </body>
</html>
