<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload file</title>
    <link rel="shortcut icon" href="/imgs/icon.png" type="image/x-icon" />
  </head>
  <link rel="stylesheet" href="/styles/upload.css" />
  <body>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <form
      class="form-container"
      enctype="multipart/form-data"
      method="post"
      action="/upload"  
    >
      <div class="upload-files-container">
        <h1>Fayl yuklash</h1>
        <div class="drag-file-area">
          <span class="material-icons-outlined upload-icon"> file_upload </span>
          <h3 class="dynamic-message">Faylni bu yerga tashlang</h3>
          <label class="label">
            <p style="color: rgb(8, 8, 224)">yoki bu yerni bosing</p>
            <span class="browse-files">
              <input
                type="file"
                name="file"
                id="file"
                class="default-file-input"
                accept=".doc,.docx,application/msword,.pdf,.png,.jpeg,.txt,.xlsx,.csv,.json,.pptx"
              />
            </span>
          </label>
        </div>
        <span class="cannot-upload-message">
          <span class="material-icons-outlined">error</span> Fayl tanlanmagan
          <span class="material-icons-outlined cancel-alert-button"
            >cancel</span
          >
        </span>
        <span class="cannot-upload-message2">
          <span class="material-icons-outlined">error</span> Maxsimal hajim 5 mb
          <span class="material-icons-outlined cancel-alert-button2"
            >cancel</span
          >
        </span>
        <span class="cannot-upload-message3"></span>
        <div class="file-block">
          <div class="file-info">
            <span class="material-icons-outlined file-icon">description</span>
            <span class="file-name"> </span> |
            <span class="file-size"> </span>
          </div>
          <span class="material-icons remove-file-icon">delete</span>
          <div class="progress-bar"></div>
        </div>
        <!-- <input type="text" placeholder="Enter file code" name="file_code" class="fileCode"> -->
        <button type="submit" class="upload-button">Yuborish</button>
        <ul>
          <li>Maxsimal fayl hajmi: 5 mb</li>
          <li>
            Ruxsat etilgan formatlar: doc, docx, pdf, png, jpeg, txt, xlsx, csv,
            json, pptx
          </li>
        </ul>
        <a href="/download">faylni yuklab olish (download)</a>
      </div>
    </form>
    <script src="/scripts/upload.js"></script>
  </body>
</html>
